/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
}

/* SECTION HEADER - START */
.section-header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to right bottom, rgba(0, 150, 199, .5), rgba(0, 180, 216, .5));
    background-size: cover;
    background-position: top;
    /* background-color: orangered; */
}

.navigation {
    z-index: 1;
    min-height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: blue; */
    animation: navigation-slide ease-in-out .8s;
}

.navigation-logo {
    width: 15%;
}

.navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.navigation-list .navigation-list_item {
    list-style: none;
    cursor: pointer;
}

.navigation-list_item-a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}

.navigation-list_item-a:hover {
    color: #ffff00;
}

.navigation-list_item-a span {
    color: #ffff00
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
    overflow: hidden;
}

.bg-video_content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-information_h {
    color: #ffff00;
    margin-top: -10rem;
    margin-bottom: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4.2rem;
    overflow: hidden;
    animation: header_h_slide .7s ease-in-out;
}

.header-information_p {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    animation: header_p_slide .7s ease-in-out;
    overflow: hidden;
}

.header-information_underline {
    border-bottom: 2px #ffff00 solid;
    animation: border_bottom .7s ease-in-out;
}

.body-hehe {
    background-color: black;
}

@keyframes navigation-slide {
    0% {
        opacity: 0;
        transform: translateY(-8rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes header_h_slide {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* position static of navigation */
.navigation-static {
    width: 100%;
    position: fixed;
    background-image: linear-gradient(to right bottom, rgba(0, 150, 199, .5), rgba(0, 180, 216, .5));
    animation: navigation-static-appear ease-in-out .5s;
}

.navigation-slide-out {
    animation: navigation-slide-out ease-in-out .5s;
}

@keyframes navigation-slide-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20rem);
    }
}

@keyframes navigation-static-appear {
    0% {
        opacity: 0;
        transform: translateY(-8rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* TOP HELPER */
.top-helper {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background-color: #ffff00;
    text-align: center;
    padding: 3rem;
    cursor: pointer;
    border-radius: 50%;
}

@keyframes header_p_slide {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes border_bottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SECTION HEADER - END */

/* SECTION ABOUTUS - START */
.section-aboutus {
    height: 100vh;
    margin: auto 10%;
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-aboutus-img {
    width: 25%;
    box-shadow: 0px 0px 1px .1px #000000;
}

.section-aboutus-img:hover {
    transform: scale(1.1);
    transition: all .1s ease-in-out;
    box-shadow: 0px 0px 5px .1px #000000;
}

.section-aboutus_text {
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.heading-aboutus h1 {
    margin-bottom: .2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

.heading-aboutus div {
    margin-bottom: 1rem;
}

.border-about-us {
    border-bottom: #ffff00 5px solid;
    width: 12rem;
}

.border-about-us-p {
    border-bottom: #ffff00 3px solid;
    width: 30rem;
}

.paragraph-about-us p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.4;
    font-size: 1.4rem;
}

.paragraph-about-us p:not(:last-child) {
    margin-bottom: 1rem;
}

.paragraph-about-us p:last-child {
    margin-bottom: 1rem;
}

/* SECTION ABOUTUS - END */

/* SECTION OFFERS START */

.section-offers {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(0, 150, 199, .5), rgba(0, 180, 216, .5));
    background-size: cover;
    background-position: top;
}

.heading-section-offers {
    margin-top: -10rem;
    margin-bottom: 10rem;
}

.heading-section-offers h1 {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.heading-section-offers div {
    border-bottom: 5px #ffff00 solid;
}

.offers {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
}

.offers-4 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem;
}

.offers-3 {
    text-align: center;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.offer-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 20rem;
    height: 10rem;
}

.offer-card i {
    color: #ffff00;
    margin-bottom: 1rem;
}

.offer-card h2 {
    font-weight: 700;
    font-size: 2rem;
}

/* SECTION OFFERS END */

/* SECTION PRICE START */

.section-price {
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.1), rgba(214, 214, 214, 0.1)), url(./img/price-offer.jpg);
    align-items: center;
    background-size: cover;
    background-position: top;
    z-index: -1;
}

.price-heading h1 {
    margin-top: -10rem;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.price-border {
    border-bottom: #ffff00 5px solid;
}

.card-prices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    width: 100%;
}

.card-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10rem 5rem; */
    gap: 3rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px -1px rgba(66, 68, 90, 1);
    border-radius: 5px;
}

.card-price h2 {
    margin-top: -4rem;
    font-size: 2.5rem;
    border-bottom: 5px #ffff00 solid;
}

.card-price h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-bottom: 5px #ffff00 solid;
}

.card-price p {
    width: 28rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.card-price:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 10px -2px rgba(66, 68, 90, 1);
}

/* SECTION PRICE END */

/* SECTION TESTIMONIALS - START */

.section-testimonials {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
}

.section-testionials_heading h1 {
    font-weight: 900;
    font-size: 3rem;
}

.testimonials-border {
    border-bottom: #ffff00 5px solid;
}

.testimonial-bottom {
    display: flex;
    gap: 5rem;
}

/* SECTION TESTIMONIALS - END */

/* SECTION CONTACT - START */
.section-contact {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(0, 150, 199, .5), rgba(0, 180, 216, .5));
}

.section-contact_content {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contact_content-heading {}

.section-contanct_content-info {
    background-color: #eee;
    padding: 15rem;
}

.info-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}

.info-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}

.info-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}

/* SECTION CONTACT - END */